server {
  listen 80;
  server_name default_server;

  # TODO: SSLへredirect
  location / {
    proxy_pass http://127.0.0.1:9292;
  }
}

server {
  listen 443 ssl http2;
  server_name default_server;

  client_max_body_size 10m;

  location ~ /xsuportal.proto.services.* {
    proxy_pass http://127.0.0.1:50051;
  }

  location / {
    proxy_pass http://127.0.0.1:9292; 
  }
}
